<footer class="footer">
    <div class="footer-content">
      <!-- Navigation Links -->
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/myorders">My Orders</a></li>
        </ul>
      </div>
  
      <!-- Contact Information -->
      <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: onaipharmaceutical&#64;gmail.com</p>
        <p>Phone: +20 123-456-7890</p>
        <p>Address: 123 Pharmacy Street, Cairo, Egypt</p>
      </div>
  
      <!-- Social Media Links -->
      <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="#"><img src="facebook.png" alt="Facebook" /></a>
          <!-- <a href="#"><img src="assets/icons/twitter-icon.png" alt="Twitter" /></a> -->
          <a href="#"><img src="instagram.jpg" alt="Instagram" /></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Onai Pharmaceutical. All rights reserved.</p>
    </div>
  </footer>
  