<div class="container mt-5">
  <h1 class="text-center mb-4">My Orders</h1>

  <div *ngIf="orders.length === 0">
    <p>No orders, make your first order now!</p>
  </div>

  <button routerLink="/order" class="btn btn-primary">Make Order</button>


  <!-- Pending Orders Section -->
  <h2 *ngIf="orders.length > 0">Processing Orders:</h2>
  <div *ngFor="let order of orders" class="order-card">
    <h5>Order ID: {{ order._id }}</h5>
    <p><strong>User:</strong> {{ order.user?.name || 'N/A' }}</p>
    <p><strong>Phone:</strong> {{ order.user?.phone || 'N/A' }}</p>
    <p><strong>Address:</strong> {{ order.user?.address || 'N/A' }}</p>
    <p><strong>Total Price:</strong> ${{ order.totalPrice }}</p>

    <div *ngFor="let product of order.products">
      <p>{{ product.product.name }} (x{{ product.quantity }})</p>
    </div>

    <button *ngIf="isAdmin" class="btn btn-success" (click)="markAsCompleted(order._id)">Mark as Completed</button>
    <button class="btn btn-danger" (click)="cancelOrder(order._id)">Cancel Order</button>
  </div>

  <!-- Completed Orders Section -->
  <h2 *ngIf="completedOrders.length > 0">Completed Orders:</h2>
  <div *ngFor="let order of completedOrders" class="order-card">
    <h5>Order ID: {{ order._id }}</h5>
    <p><strong>User:</strong> {{ order.user?.name || 'N/A' }}</p>
    <p><strong>Phone:</strong> {{ order.user?.phone || 'N/A' }}</p>
    <p><strong>Address:</strong> {{ order.user?.address || 'N/A' }}</p>
    <p><strong>Total Price:</strong> ${{ order.totalPrice }}</p>

    <button *ngIf="isAdmin" class="btn btn-warning" (click)="restoreOrder(order._id)">Restore to Pending</button>
  </div>

  <!-- Canceled Orders Section -->
  <h2 *ngIf="canceledOrders.length > 0">Canceled Orders:</h2>
  <div *ngFor="let order of canceledOrders" class="order-card">
    <h5>Order ID: {{ order._id }}</h5>
    <p><strong>User:</strong> {{ order.user?.name || 'N/A' }}</p>
    <p><strong>Phone:</strong> {{ order.user?.phone || 'N/A' }}</p>
    <p><strong>Address:</strong> {{ order.user?.address || 'N/A' }}</p>
    <p><strong>Total Price:</strong> ${{ order.totalPrice }}</p>

    <button class="btn btn-warning" (click)="restoreOrder(order._id)">Restore to Pending</button>
    <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteOrder(order._id)">Delete Order</button>
  </div>
</div>
