.container {
    max-width: 600px;
    margin: 80px auto 10px auto ;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-weight: bold;
  }
  
  .img-thumbnail {
    border-radius: 8px;
    max-height: 300px;
    object-fit: cover;
  }
  
  .form-control {
    padding: 10px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
  }
  