<!-- Landing Section -->
<section class="landing-section">
    <div class="overlay">
      <h1 class="landing-title">Onai Pharmaceutical</h1>
      <h6 class="landing-title2">"Pure Care, Beyond Compare"</h6>
      <a routerLink="/products" class="btn btn-primary landing-btn">View Products</a>
    </div>
  </section>
  
  <!-- Menu Section -->
  <section class="menu-section">
    <div class="menu-container">
      <h2 class="menu-title">Highlights</h2>
      <div class="menu-grid">
        <div class="menu-card">
          <div class="icon-wrapper">
            <img src="who we are.png" alt="Who We Are" class="menu-icon">
          </div>
          <h5>Who We Are</h5>
          <a routerLink="/about" class="menu-link">Explore</a>
        </div>
  
        <div class="menu-card">
          <div class="icon-wrapper">
            <img src="mission.png" alt="Mission" class="menu-icon">
          </div>
          <h5>Mission</h5>
          <a routerLink="/about" class="menu-link">Explore</a>
        </div>
  
        <div class="menu-card">
          <div class="icon-wrapper">
            <img src="vision.png" alt="Vision" class="menu-icon">
          </div>
          <h5>Vision</h5>
          <a routerLink="/about" class="menu-link">Explore</a>
        </div>
  
        <div class="menu-card">
          <div class="icon-wrapper">
            <img src="value.png" alt="Values" class="menu-icon">
          </div>
          <h5>Values</h5>
          <a routerLink="/about" class="menu-link">Explore</a>
        </div>
      </div>
    </div>
  </section>
  